{{!-- homepage --}}
{{!-- landing page will include background image and possibly additional content? --}}
<div class="card container-fluid bg-transparent">
  <div class="card-body">
    <div class="text-center">
      <h3>Tech Talks</h3>
      </br>
      <h5>Let's get started: login or sign up to begin.</h5>
      <button type="button" class="m-2 btn btn-warning"><a class="text-white" href="/login" </a>Login </button> <button
          type="button" class="m-2 btn btn-warning"><a class="text-white" href="/signup" </a>Signup </button> </div>
            </div> </div>